@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Dancing+Script&family=Lora:wght@500&family=Nunito:wght@500&family=Playfair:wght@800&family=Roboto+Slab&family=Rubik+Pixels&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sparten', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.normal:hover{
    color: white;
    background-color:rgb(243, 181, 25);
}

body{
    width: 100%;
}

/* Header start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 45px;
    background-color:  rgb(38, 172, 193);
    box-shadow: 0 5px rgba(89, 84, 84, 0.6);
    z-index: 900;
    position: sticky;
    left: 0;
    top: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: black; 
    transition: 0.4s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: white;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 35%;
    height: 1.5px;
    background-color: white ;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*Home page*/

#hero{
    background-image: url("img/bgt.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: rgb(252, 252, 34);
}
#hero button{
    background-image: url("img/btn.png");
    background-color: transparent;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#hero button:hover{
    color: rgb(252, 252, 34);
}

/* feature section */

#feature .fe-box img{
    height: 100px;
    margin-bottom: 15px; 
    display: block;
    transition-duration: 1s;
 }
 #feature .fe-box img:hover{
    transform: scaleX(0.2);
 }
 #feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 #feature .fe-box{
    width: 170px;
    text-align: center;
    padding: 25px 20px;
    box-shadow: 5px 5px 10px rgb(110, 108, 108);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    margin: 15px 0;
 }
 #feature .fe-box:hover{
    box-shadow: 10px 10px 25px rgb(110, 108, 108);
 }
 #feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 7px 6px;
    line-height: 1;
    border-radius: 4px;
    color: black;
    background-color: rgb(245, 125, 145);
 }

 #feature .fe-box:nth-child(2) h6{
    background-color: rgb(122, 203, 238);
 }
 #feature .fe-box:nth-child(3) h6{
    background-color: rgb(235, 165, 249);
 }
 #feature .fe-box:nth-child(4) h6{
    background-color: rgb(142, 240, 97);
 }
 #feature .fe-box:nth-child(5) h6{
    background-color: rgb(235, 152, 100);
 }
 #feature .fe-box:nth-child(6) h6{
    background-color: rgb(246, 255, 81);
 }

 /* section products */

#product1{
    text-align: center;
} 

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}

#product1 .pro img{
    width: 100%;
    border-radius: 15px ;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px; 
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* Banner Section */

#banner{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/b12.jpg");
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: white;
    font-size: 40px;
    margin-top: -50px;
}
#banner h2{
    color: white;
    font-size: 50px;
    padding: 30px 0;  
}
#banner h2 span{
    color: rgb(48, 2, 2);
}